framework: netstandard20
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.6.2 lowest_matching: true

group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json

github aardvark-platform/Aardvark.Fake:v511